<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>anhnd.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>anhnd.servlets.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>anhnd.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHotelServlet</servlet-name>
        <servlet-class>anhnd.servlets.SearchHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRoomsServlet</servlet-name>
        <servlet-class>anhnd.servlets.GetRoomsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHomeServlet</servlet-name>
        <servlet-class>anhnd.servlets.LoadHomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/ProcessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHotelServlet</servlet-name>
        <url-pattern>/SearchHotelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRoomsServlet</servlet-name>
        <url-pattern>/GetRoomsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHomeServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
</web-app>
